CANWXLAB_DATA_MODE=hybrid
CANWXLAB_ENABLE_LIVE_ECCC=false
CANWXLAB_ECCC_OGC_API_BASE=https://api.weather.gc.ca
CANWXLAB_ECCC_WMS_BASE=https://geo.weather.gc.ca/geomet
CANWXLAB_HTTP_TIMEOUT_SECONDS=10
CANWXLAB_CACHE_TTL_SECONDS=300
CANWXLAB_CACHE_DIR=.canwxlab/cache
